Epargne/bin
Epargne/obj
Simulateur/Simulateur.Windows/bin/*
Simulateur/Simulateur.Windows/obj/*
Simulateur/Simulateur.WindowsPhone/bin/*
Simulateur/Simulateur.WindowsPhone/obj/*
EpargneUnitTest/bin/*
EpargneUnitTest/obj/*
Test/bin/*
Test/obj/*
EpargneMobileUnitTest/bin/*
EpargneMobileUnitTest/obj/*
EpargneAzureService/Properties/PublishProfiles/mobile$EpargneAzureService.pubxml
EpargneAzureService/bin/*
EpargneAzureService/obj/*